{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container row justify-content-center">
        <section class="col-md-6">{% include 'security/_form_login.html.twig' %}</section>
    </div>
{% endblock %}
