<div class="card mt-3">
    <div class="card-body">
        <a href="{{ url('user_profile', {'id': comment.user.id}) }}">
            <span class="">
                <img class="img-fluid rounded-circle" src="{{ comment.user.avatar }}" alt="photo_{{ comment.user.pseudo }}">
            </span>
            <span>{{ comment.user.pseudo }}</span>
        </a>
        <span>{{ comment.content }}</span>
    </div>
    {% if app.user and app.user == comment.user %}
        <div class="card-footer">
            <a href="{{ url('comment_edit', {'id': comment.id}) }}" class="btn btn-warning">
                <i class="fas fa-cog"></i>
            </a>
            {% include 'comment/_delete_form.html.twig' %}
        </div>
    {% endif %}
</div>