<div class="card mt-3">
    <div class="card-header">
        <div class="card-img">
            {{ comment.user.avatar }}
        </div>
        <h5 class="card-title">{{ comment.user.pseudo }}</h5>
    </div>
    <div class="card-body">
        {{ comment.content }}
    </div>
</div>