<nav class="navbar navbar-expand-sm navbar-dark {{ (app.user.comboUnlock)?'golden':'bg-dark' }}">
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#"
           role="button" id="dropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <img src="{{ asset('uploads/'~app.user.avatar) }}" alt="" class="img-fluid avatar"> {{ app.user.pseudo }}
        </a>
        <span class="navbar-text">
            <span>{{ app.user.posts.count}} posts</span>
            <span>{{ app.user.likes.count }} abonnements</span>
            <span>{{ app.user.posts.count }} abonnés</span>/
        </span>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{ path('user_profile', {'id': app.user.id}) }}">Profile</a>
            <a class="dropdown-item" href="{{ path('user_update') }}">Mettre à jour</a>
            <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    </div>
</nav>