<div class="card mt-3 post">
    <div class="row card-header">
        <div class="col-md-2">
            <a href="{{ path('user_profile', {'id':post.user.id}) }}">
                <img alt="" class="card-img img-fluid avatar"
                     src="{{ ('http' in post.user.avatar) ? post.user.avatar : asset('uploads/'~post.user.avatar) }}">
            </a>
        </div>
        <div class="col-md-10 text-center">
            <h5 class="card-title">{{ post.user.pseudo }}</h5>
        </div>
    </div>
    <div class="card-body">
        <a href="{{ path('post_single', {'id':post.id}) }}" class="row">
            <div class="col-md-2">
                <img src="{{ ('http' in post.attachement) ? post.attachement : asset('uploads/'~post.attachement) }}"
                     alt="" class="card-img img-fluid">
            </div>
            <div class="col-md-10">
                <p class="card-text">{{ post.content }}</p>
            </div>
        </a>
    </div>
    <div class="card-footer {{ (post.user.comboUnlock) ? 'golden': 'post-footer' }}"
         data-user="{{ post.user.id }}">
        <div class="row justify-content-between">
            <div class="">
                <small class="">
                    <a href="{{ url('like_post', {'post': post.id}) }}" class="like">
                        <button class="btn">
                            {% if app.user and app.user.doesLike(post) %}
                                <i class="fas fa-heart"></i>
                            {% else %}
                                <i class="far fa-heart"></i>
                            {% endif %}
                        </button>
                    </a><strong>{{ post.likers | length }}</strong>
                    Likes
                </small>
                <small class="">
                    <strong><i class="fas fa-comment-alt"></i></strong> {{ post.nbComments }} Commentaires
                </small>
            </div>
            <small>publié il y a
                {% if post.publishedAt is not null %}
                    {{ post.publishedAt.format('d-m-Y') }}
                {% endif %}
            </small>
        </div>
    </div>
</div>