<aside class="col-md-4 mt-3">
    <div class="card post">
        <div class="text-center card-header">
            <h5 class="card-title">Options</h5>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-check">
                    <input type="checkbox" id="public" name="public" class="form-check-input">
                    <label for="public" class="form-check-label">Posts publiques</label>
                </div>
                <input type="submit" class="btn btn-primary btn-sm" value="Voir">
            </form>
            <a href="{{ url('post_create') }}" class="btn btn-primary mt-3">Créer un post</a>
        </div>
    </div>
</aside>