{% extends 'post/list.html.twig' %}

{% block title %}
    Créer un nouveau post
{% endblock %}

{% block main %}
    <div class="col-md-8">
        {% include 'post/_form.html.twig' %}
    </div>
{% endblock %}

{% block aside %}{% endblock %}