{% extends 'base.html.twig' %}

{% block title %}InstaFrep !{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            {% block main %}
                <section class="col-md-8">
                    {% for post in posts %}
                        {% include 'post/post.html.twig' %}
                    {% endfor %}
                </section>
            {% endblock %}
            {% block aside %}
                {% include 'post/aside.html.twig' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
