{% extends 'base.html.twig' %}

{% block title %}InstaFrep !{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            {% block main %}
                <section class="col-md-8">
                    <div id="posts">
                        {% include 'post/_loop.html.twig' %}
                    </div>
                    <div class="mt-3">
                        {% include '_pagination.html.twig' %}
                    </div>
                </section>
            {% endblock %}
            {% block aside %}
                {% include 'post/aside.html.twig' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/pagination.js') }}"></script>
{% endblock %}
