{% extends 'post/list.html.twig' %}
{% block main %}
    <section class="col-md-8">
        {% include 'post/post.html.twig' %}
        {% for comment in post.comments %}
            {% include 'comment/show.html.twig' %}
        {% else %}
            <div class="alert alert-info">
                Pas encore de commentaires !
            </div>
        {% endfor %}
    </section>
{% endblock %}
{% block aside %}
    <aside class="col-md-4 mt-3">
        <div class="card">
            <div class="card-header text-center bg-secondary text-white">
                <h5 class="card-title">Options</h5>
            </div>
            <div class="card-body text-center">
                <a href="{{ path('post') }}" class="btn btn-primary">Revenir à la liste</a>
                <a href="{{ url('post_update', {'id': post.id}) }}" class="btn btn-warning">
                    <i class="fas fa-cog"></i>
                </a>
                <a href="{{ url('post_delete', {'id': post.id}) }}" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i>
                </a>
                <a href="#writeComment" class="btn btn-primary"
                   data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">Ecrire un
                    commentaire</a>
            </div>
        </div>
        <div id="writeComment" class="collapse">{% include 'comment/_form.html.twig' %}</div>
    </aside>
{% endblock %}