{% extends 'base.html.twig' %}

{% block title %}Compte utilisateur{% endblock %}

{% block body %}
<section class="container row justify-content-center">
    <div class="col-md-8 card">
        <div class="card-header row">
            <div class="card-img col-md-4">
                <img src="{{ user.avatar }}" alt="">
            </div>
            <h5 class="card-title col-md-8 text-center">{{ user.pseudo }}</h5>
        </div>
        <div class="card-body">
            {% for post in user.posts %}
            {% include 'post/_post.html.twig' %}
                {% else %}
                <div>{{ user }} N'a pas encore de posts !</div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
