{% extends 'base.html.twig' %}

{% block title %}Compte utilisateur{% endblock %}

{% block body %}
<section class="container row justify-content-center">
    <div class="col-md-8 card">
        <div class="card-header row">
            <div class="card-img col-md-4">
                <img src="{{ user.avatar }}" alt="">
            </div>
            <div class="col-md-8 tex-center">
                <h5 class="card-title">{{ user.pseudo }}</h5>
                {% if app.user.id == user.id %}
                    <p class="justify-content-between text-muted">

                    </p>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            {% for post in user.posts %}
            {% include 'post/_post.html.twig' %}
                {% else %}
                <div>{{ user.pseudo }} N'a pas encore de posts !</div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
